from discord.ext import commands
from app.bot import Bot


class TemplateCog(commands.Cog):

    """A template cog."""

    def __init__(self, client: Bot) -> None:
        """Initialise the template cog."""
        self.client: Bot = client


def setup(client: Bot) -> None:
    """Load the extension into the bot."""
    client.add_cog(TemplateCog(client))
